# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Coverage artifacts
/coverage.zip
/cover.json
/cover-summary
/index.html

# Since we have tooling that uses node
node_modules

.DS_Store

# IDE related files
.idea
.vscode
git

language/tools/vscode-extension/cadence-*.vsix
language/tools/vscode-extension/out/*

# Go mod ignores
.history
go.work

# go-fuzz
crashers
corpus
suppressions

coverage.txt
coverage.txt-e
runtime/cmd/check/check
runtime/cmd/main/main
runtime/cmd/parse/parse
runtime/cmd/parse/parse.wasm
tools/golangci-lint/golangci-lint
tools/maprangecheck/maprangecheck.so
tools/constructorcheck/constructorcheck.so

