repo: onflow/cadence
repos:
- repo: onflow/flow-go-sdk
  needsRelease: true
  mods:
    - path: ""
      deps:
        - onflow/cadence

- repo: onflow/cadence-tools
  needsRelease: true
  prefixPRTitle: true
  mods:
    - path: lint
      deps:
        - onflow/cadence
        - onflow/flow-go-sdk

- repo: onflow/flow-go
  needsRelease: false
  branch: feature/stable-cadence
  mods:
    - path: ""
      deps:
        - onflow/flow-go-sdk
        - onflow/cadence
    - path: integration
      deps:
        - onflow/flow-go-sdk
        - onflow/cadence
    - path: insecure
      deps:
        - onflow/flow-go-sdk
        - onflow/cadence

- repo: onflow/flow-emulator
  needsRelease: true
  mods:
    - path: ""
      deps:
        - onflow/cadence
        - onflow/flow-go-sdk
        - onflow/flow-go

- repo: onflow/cadence-tools
  needsRelease: true
  prefixPRTitle: true
  mods:
    - path: test
      deps:
        - onflow/cadence
        - onflow/flow-go-sdk
        - onflow/flow-go
        - onflow/flow-emulator

- repo: onflow/flowkit
  needsRelease: false
  branch: feature/stable-cadence
  mods:
    - path: ""
      deps:
        - onflow/cadence
        - onflow/flow-go-sdk
        - onflow/flow-go
        - onflow/flow-emulator

- repo: onflow/cadence-tools
  needsRelease: true
  prefixPRTitle: true
  mods:
    - path: languageserver
      deps:
        - onflow/cadence
        - onflow/flow-go-sdk
        - onflow/flow-go
        - onflow/flow-emulator
        - onflow/cadence-tools/lint
        - onflow/cadence-tools/test
        - onflow/flowkit

- repo: onflow/flixkit-go
  needsRelease: true
  branch: feature/stable-cadence
  mods:
    - path: ""
      deps:
        - onflow/cadence
        - onflow/flow-go-sdk
        - onflow/flow-go
        - onflow/flow-emulator

- repo: onflow/flow-cli
  needsRelease: true
  branch: feature/stable-cadence
  mods:
    - path: ""
      deps:
        - onflow/cadence
        - onflow/flow-go-sdk
        - onflow/flow-go
        - onflow/flow-emulator
        - onflow/cadence-tools/test
        - onflow/cadence-tools/lint
        - onflow/cadence-tools/languageserver
        - onflow/flixkit-go
        - onflow/flowkit
