
body {
    -webkit-print-color-adjust: exact;
}

.markdown-body {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 2em;
}

.markdown-body li > p {
    margin-top: 4px;
    margin-bottom: 4px;
}

* {
    widows: 3;
    orphans: 3
}

@media print {
    @media print {
        @page {
            size: A4 portrait;
            margin: 2.5cm 1.5cm;
        }
    }
}