name: CI

on:
  push:
    branches:
      - master
      - v0.12
  pull_request:
    branches:
      - master


jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install wabt
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v1
      with:
        go-version: '1.14.5'
    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Build
      run: make build
    - name: Test
      run: make test
    - name: Check tidy
      run: make check-tidy
    - name: Check headers
      run: make check-headers

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
